global
    # log to sidecar rsyslog container
    # # with syslog facility to accomplish rsyslog-alpine cfg
    # log rsyslog syslog 
    log stdout format raw local0
    
    maxconn 20480
    ############# IMPORTANT #################################
    ## DO NOT SET CHROOT OTHERWISE YOU HAVE TO CHANGE THE  ##
    ## acme-http01-webroot.lua file                        ##
    # chroot /jail                                         ##
    #########################################################
    lua-load /etc/haproxy/acme-http01-webroot.lua
    #
    # SSL options
    ssl-default-bind-ciphers AES256+EECDH:AES256+EDH:!aNULL;
    tune.ssl.default-dh-param 4096

    # workaround for bug #14 (Cert renewal blocks HAProxy indefinitely with Websocket connections)
    hard-stop-after 3s


defaults
    log global
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
    option forwardfor
    option httplog
    # never fail on address resolution
    default-server init-addr last,libc,none

userlist credentials
  # apt install whois
  # mkpasswd -m sha-256 '$password'
  # these are defaults rootpassword & privileged2password ; change them
  user root         password            $5$mX1Nv8tvyllUagYl$hn1z5i2SQ9YCNbkFQM7hiBSMztXTB18gv3f/PN8HnS0
  user privileged2  password            $5$4Tx.bpReczLfSY93$lfrZBkqXJLMdv7.AFEa3AtU9K5z4hHgU8bQAvbShLmB
  user user         insecure-password   P@ssw0rd!
  group admin       users root
  group priviliged  users root,privileged2
  group default     users root,privileged2,user
######################################################################################
##  Split frontend, based on request payload
######################################################################################

frontend sslsplit
    mode tcp
    bind *:443 ssl alpn h2 strict-sni crt /etc/haproxy/certs/ no-sslv3 no-tls-tickets no-tlsv10 no-tlsv11
    default_backend localhttps

######################################################################################
##  HTTPS Handling
######################################################################################

# Redirect HTTP to HTTPS
frontend http
    bind *:80
    mode http
    acl url_acme_http01 path_beg /.well-known/acme-challenge/
    http-request use-service lua.acme-http01 if METH_GET url_acme_http01
    redirect scheme https code 301 if !{ ssl_fc }

# Split forntend redirect to local proxy
backend localhttps
    mode tcp
    server localhost 127.0.0.1:1443 send-proxy

frontend https
    mode http
    bind 127.0.0.1:1443 accept-proxy
    http-response set-header Strict-Transport-Security "max-age=16000000; includeSubDomains; preload;"
    use_backend httpshare if    { req.hdr(host) -i your.domain.com }
    use_backend httpshare if    { req.hdr(host) -i www.your.domain.com }
    use_backend rutorrent if    { req.hdr(host) -i torrent.your.domain.com }
    use_backend jellyfin if     { req.hdr(host) -i jellyfin.your.domain.com }
    # use_backend plex if         { req.hdr(host) -i plex.your.domain.com }

backend httpshare
    server httpshare httpshare:80 check
    http-request auth unless { http_auth_group(credentials) default }
    http-request add-header X-Forwarded-Proto https if { ssl_fc }

backend rutorrent
    server rutorrent rutorrent:8080 check
    http-request auth unless { http_auth_group(credentials) priviliged }
    http-request add-header X-Forwarded-Proto https if { ssl_fc }

backend jellyfin
    server jellyfin jellyfin:8096 check
    # http-request auth unless { http_auth_group(credentials) admin }
    http-request add-header X-Forwarded-Proto https if { ssl_fc }

# backend plex
#     server plex plex:32400 check
#     # http-request auth unless { http_auth_group(credentials) admin }
#     http-request add-header X-Forwarded-Proto https if { ssl_fc }

